<h2>Form Create Contract</h2>
<form>
  <div class="mb-3">
    <label for="startDay" class="form-label">Day Start Contract</label>
    <input type="date" class="form-control" id="startDay">
  </div>

  <div class="mb-3">
    <label for="endDay" class="form-label">Day End Contract</label>
    <input type="date" class="form-control" id="endDay">
  </div>

  <div class="mb-3">
    <label for="deposit" class="form-label">Money Deposit</label>
    <input type="number" class="form-control" id="deposit">
  </div>

  <div class="mb-3">
    <label class="form-label" for="total">Total Money</label>
    <input type="text" class="form-control" id="total">
  </div>

  <div class="mb-3">
    <label for="employee">Employee</label>
    <select id="employee" class="form-select">
      <option *ngFor="let items of employeeArr" value="{{items}}">{{items.employee_name}}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="service">Service</label>
    <select id="service" class="form-select">
      <option *ngFor="let items of serviceArr" value="{{items}}">{{items.service_name}} || {{items.service_type.name}}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="customer">Customer</label>
    <select id="customer" class="form-select">
      <option *ngFor="let items of customerArr" value="{{items}}">{{items.customer_name}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>
