<form [formGroup]="customerForm" (ngSubmit)="onUpdate()">
  <div class="mb-3">
    <label for="codeCustomer" class="form-label">Code Customer</label>
    <input type="text" class="form-control" id="codeCustomer" formControlName="customer_code">
    <div class="errors" *ngFor="let errors of validationMessage.customer_code">
      <ng-template [ngIf]="customerForm.get('customer_code').hasError(errors.type) && customerForm.get('customer_code').dirty">
        {{errors.message}}
      </ng-template>
    </div>
  </div>

  <div class="mb-3">
    <label for="nameCustomer" class="form-label">Name Customer</label>
    <input type="text" class="form-control" id="nameCustomer" formControlName="customer_name">
    <div *ngIf="customerForm.get('customer_name').hasError('required') && customerForm.get('customer_name').dirty">Nhap ten cho customer</div>
  </div>

  <div class="mb-3">
    <label for="birthdayCustomer" class="form-label">Birthday Customer</label>
    <input type="date" class="form-control" id="birthdayCustomer" formControlName="customer_birthday">
    <div *ngIf="customerForm.get('customer_birthday').hasError('required') && customerForm.get('customer_birthday').dirty">Nhap birthday cho Khach hang nay</div>
  </div>

  <div class="mb-3">
    <label for="genderCustomer">Gender Customer</label>
    <select id="genderCustomer" class="form-select" formControlName="customer_gender">
      <option [selected]="customerForm.controls.customer_gender.value === '0' " value="0">Male</option>
      <option [selected]="customerForm.controls.customer_gender.value === '1' " value="1">FeMale</option>
      <option [selected]="customerForm.controls.customer_gender.value === '2' " value="2">LGBT</option>
    </select>
    <div *ngIf="customerForm.get('customer_gender').hasError('required') && customerForm.get('customer_gender').dirty">Nhap gioi tinh cho khahc hang nay</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="idCard">IdCard Customer</label>
    <input type="text" class="form-control" id="idCard" formControlName="customer_idCard">
    <div class="errors" *ngFor="let errors of validationMessage.customer_idCard">
      <ng-template [ngIf]="customerForm.get('customer_idCard').hasError(errors.type) && customerForm.get('customer_idCard').dirty">
        {{errors.message}}
      </ng-template>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="phoneCustomer">Phone Customer</label>
    <input type="number" class="form-control" id="phoneCustomer" formControlName="customer_phone">
    <div class="errors" *ngFor="let errors of validationMessage.customer_phone">
      <ng-template [ngIf]="customerForm.get('customer_phone').hasError(errors.type) && customerForm.get('customer_phone').dirty">
        {{errors.message}}
      </ng-template>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="emailCustomer">Email Customer</label>
    <input type="email" class="form-control" id="emailCustomer" formControlName="customer_email">
    <div class="errors" *ngFor="let errors of validationMessage.customer_email">
      <ng-template [ngIf]="customerForm.get('customer_email').hasError(errors.type) && customerForm.get('customer_email').dirty">
        {{errors.message}}
      </ng-template>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="addressCustomer">Address Customer</label>
    <input type="text" class="form-control" id="addressCustomer" formControlName="customer_address">
    <div *ngIf="customerForm.get('customer_address').hasError('required') && customerForm.get('customer_address').dirty">Nhap dia chi cho khach hang nay</div>
  </div>

  <div class="mb-3">
    <label for="customerType">Customer Type</label>
    <select id="customerType" class="form-select" formControlName="customer_type">
      <option *ngFor="let items of customerTypeArr" [selected]="customerForm.controls.customer_type.value.id === items.id" [ngValue]="items">{{items.name}}</option>
    </select>
    <div *ngIf="customerForm.get('customer_type').hasError('required') && customerForm.get('customer_type').dirty">Nhap loai khach cho khach hang nay</div>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>
