<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar progress="0"></app-progress-bar>-->
<!--<app-navbar></app-navbar>-->
<!--<app-article></app-article>-->
<!--<app-footer></app-footer>-->

<!--Rating-bar bai tap 1 Bai 5 Interaction-->
<h2>Rating: {{rating}}</h2>
<app-rating-bar (rating)="onPickRating($event)"></app-rating-bar>

<!--Countdown bai tap 2 Bai 5 Interaction-->
<!--<app-count-down (countDown)="handleCount($event)"></app-count-down>-->
<!--<p>Count down: {{count}}</p>-->


