<!--<app-list-employee></app-list-employee>-->
<!--<div class="row justify-content-center">-->
<!--  <div class="col-md-8">-->
<!--    <app-create-employee></app-create-employee>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container ">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-md-8 ">-->
<!--      <app-list-customer></app-list-customer>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<app-list-contract></app-list-contract>-->
<app-create-contract></app-create-contract>



