<a [routerLink]="['/employee/create']">Create Student</a>
<table class="table table-light table-striped table-hover">
  <thead>
  <tr>
    <th >ID</th>
    <th >Name</th>
    <th>BirthDay</th>
    <th>Id Card</th>
    <th>Salary</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Position</th>
    <th>Education</th>
    <th>Division</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let items of employeeArr" >
    <td>{{items.id}}</td>
    <td>{{items.employee_name}}</td>
    <td>{{items.employee_birthday}}</td>
    <td>{{items.employee_id_card}}</td>
    <td>{{items.employee_salary}}</td>
    <td>{{items.employee_phone}}</td>
    <td>{{items.employee_email}}</td>
    <td>{{items.employee_address}}</td>
    <td>{{items.position_id.name}}</td>
    <td>{{items.education_id.name}}</td>
    <td>{{items.division_id.name}}</td>
    <td>
      <button type="button" class="btn btn-warning" (click)="showEdit(items.id)">Edit</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="showDelete(items.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="page-item"><a class="page-link">Paginator</a></li>
    <li *ngIf="page>1" class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{page}}/{{totalNumber}}</span>
    </li>
    <li *ngIf="page<totalNumber" class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
    <li class="page-item"><a class="page-link" (click)="sortPage()">Sort ID DESC</a></li>
  </ul>
</nav>
<label for = "searchName">Search by name Employee</label>
<input type = "text" id="searchName" (change)="searchName($event.target.value)">

