<footer class="bd-footer mt-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled text-muted">
          <li>Contact me </li>
          <li>Contact me </li>
          <li>Contact me </li>
          <li>Contact me </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled text-muted">
          <li>Facebook</li>
          <li>Google</li>
          <li>Zalo</li>
          <li>Gmail</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled text-muted">
          <li>Aka 19</li>
          <li>ABC</li>
          <li>ABC</li>
          <li>ABC</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled text-muted">
          <li>ABC</li>
          <li>ABC</li>
          <li>ABC</li>
          <li>ABC</li>
        </ul>
      </div>
    </div>
  </div>

</footer>
